name: CI/CD - FastAPI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
permissions:
  contents: write
  packages: write

jobs:
  # ------------------------------
  # 1) LINT + TEST + SECURITY
  # ------------------------------
  quality:
    runs-on: ubuntu-latest
    env:
      UV_PROJECT: server/pyproject.toml
    steps:
      # checkout
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "server/.python-version"

      # instala UV
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      # instala dependencias del proyecto
      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      # Ruff (lint + formateo)
      - name: Ruff lint
        run: uv run ruff check .

      # Tests
      - name: Run tests
        run: uv run pytest

  # ------------------------------
  # 2) BUILD DOCKER
  # ------------------------------
  docker:
    needs: quality
    runs-on: ubuntu-latest 
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write   
    env:
      # Use docker.io for Docker Hub if empty
      REGISTRY: ghcr.io
      # github.repository as <account>/<repo>
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}       

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: ./server
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}  

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true 